# vscode options
.vscode/

# notebook files
.ipynb_checkpoints/

Vision/CVR/lightning_logs
Vision/CVR/lightning_logs/
cvrt_data/
# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
*/__pycache__/
**/__pycache__/

Vision/CVR/plots/
Vision/CVR/dbs/
Vision/CVR/err/
Vision/CVR/out/
Vision/Models/

Vision/CVR/logs/

Language/SyntacticSubnetworks/err/
Language/SyntacticSubnetworks/out/
Language/Models/

Language/SyntacticSubnetworks/logs/
Language/Models

*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.DS_Store

Data/

transformers/src/transformers.egg-info/